html, body {
  width: 100%;
  /* overflow-x: hidden; */
  overflow: hidden;
  max-width: 100vw;
}


#root {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) { /* Cambia 768px según necesites */
  .max-w-2xl {
    margin-top: 0.5rem; /* Reducir aún más el margen superior */
    padding-top: 1rem; /* Opcional: ajustar el padding superior */
  }
  
  .text-white {
    font-size: 1rem; /* Reducir el tamaño de la fuente si es necesario */
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Nuevas reglas para mejorar el flujo */
.max-w-2xl {
  max-width: 50%; /* Limitar el ancho a la mitad de la pantalla */
  margin-left: 2rem; /* Margen izquierdo constante */
  margin-right: auto; /* Centrar el div a la derecha */
}

.space-y-4 {
  margin-top: 1rem; /* Espacio entre los elementos dentro del div */
}

.text-white {
  color: white; /* Asegúrate de que el texto sea visible */
  max-width: 100%; /* Asegúrate de que no exceda el contenedor */
}


.mt-6 {
  margin-top: 1.5rem; /* Espacio adicional antes del siguiente párrafo */
}

/* Asegúrate de que el contenido siguiente tenga un margen adecuado */
p {
  margin-top: 1.5rem; /* Espacio entre el div y el siguiente párrafo */
  color: white; /* Cambiar el color del texto si es necesario */
}